main{
    padding: 20px; 
    background-color: #f8f9fa; 
    justify-content: center;

}


.kepTarolo {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    max-width: fit-content;
    align-items: center;
    margin: 0 auto;
   
}

.kisKep {
    margin: 10px; 
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden; 
    background-color: #fff; 
    transition: transform 0.2s; 
   
}

.kisKep img {
    height: 150px;        
    object-fit: cover;    
    width: 100%;   
    object-position: bottom;       
    
}

.kisKep h3, .kisKep p {
    display: none !important;
}




.kisKep:hover {
    transform: scale(1.05); 
}

.img-body {
    padding: 10px; 
   

}

.img-title {
    font-size: 1.2em;
    font-weight: bold; 
}

.img-leir {
    color: #6c757d; 
}